---
layout: post
title: Introduction to Computers
date: '2016-07-25T19:14:00.000+07:00'
author: Upi
tags:
- system
modified_time: '2019-08-21T22:48:27.061+07:00'
blogger_id: tag:blogger.com,1999:blog-3260108680357979593.post-3098342544445417255
blogger_orig_url: http://blog.saufi.me/2018/08/introduction-to-computers.html
---

Hey guys, this is my first post on my very new personal site, so today I want to share you guys a little bit about computers.<br /><div><br /></div><div>So a&nbsp;computer is a multipurpose electronic device that can receive, process and store data. They are used as tools in every part of society together with the Internet. Computers nowadays are complex, there are a lot of different components inside them, and they all serve different purposes.&nbsp;</div><div>They all need to work together for the computer to work, knowing how a computer works make it easier to use a computer by being able to understand how a computer will respond.</div><div><br /></div><div>Or in the other means, A computer is an electronic device that takes input such as numbers, text, sound, image, animations, video, etc., processes it, and converts it into meaningful information that could be understood, presenting the changed input (processed input) as output. All numbers, text, sound, images, animations, and video used as input are called data, and all numbers, text, sound, images, animations, and video returned as output are called information. Input is the raw data entered into the computer by using input devices.</div><div><ul><li>The data consists of numbers, text, sound, images, animations, and video.</li><li>The process converts numbers, text, sound, images, animations, and video (data) into usable data, which is called information.</li><li>The information consists of numbers, text, sound, images, animations, and video that has been converted by the process.</li><li>The data is inserted using an input device.</li><li>The central processing unit (CPU) converts data to information.</li><li>The information is put on an output device.</li></ul></div><div><br /></div><div>A storage device is an apparatus for storing data and information. A basic computer consists of 4 components: an input device, a CPU, output devices, and memory.&nbsp;The minimum requirements for a functional computer system include; a keyboard, a case/ housing containing a CPU and memory (although the case itself isn't strictly necessary), and a monitor.&nbsp;</div><div>The data is usually entered via the keyboard and the information is usually presented through a screen; however, information can also be presented through speakers, braille displays, or any other output devices.</div><div><br /></div><div>So that is all for today guys, enjoy your day.</div>